body {
    font-family: "Microsoft YaHei";
    padding-bottom: 70px;
}

pre {
    padding: 1em 1.6em 1em 1.2em;
    vertical-align: top;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-width: 1px 1px 1px 4px;
    margin: -0.5em 0 1.1em;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5438em;
}

.navbar {
    border-radius: 0;
}

.kword {
    color: #f0ad4e;
}

.str {
    color: #5cb85c;
}

#learn-sider > li:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#learn-sider > li.active {
    background-color: #5cb85c;
    color: #ffffff;
}
#learn-sider a{
    text-decoration: none;
    display: block;
    height: 100%;
    color:#333 ;
}
#learn-sider > .active   i {
    color: #ffffff;
}
#learn-sider > .active>a{
    color:#ffffff ;
}
.list-group-item  i {
    float: right;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: -456px -72px;
    margin-top: 2px;
    margin-right: -6px;
    color: #737373;
}

p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
}